# Проект 3 Дашборд конверсий

## Шаг 1.

### Импорты

In [8]:
import pandas as pd
import requests

#### Загрузка тестовых данных

In [14]:
visits = pd.read_csv('visits_1k.csv')
visits.head()

,uuid,platform,user_agent,date
0,1de9ea66-70d3-4a1f-8735-df5ef7697fb9,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,2023-03-01T13:29:22
1,f149f542-e935-4870-9734-6b4501eaf614,web,Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) Apple...,2023-03-01T16:44:28
2,f149f542-e935-4870-9734-6b4501eaf614,web,Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) Apple...,2023-03-06T06:12:36
3,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-03-01T20:16:37
4,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-03-05T17:42:47

In [16]:
regs = pd.read_csv('regs_1k.csv')
regs.head()

,date,user_id,email,platform,registration_type
0,2023-03-01T00:25:39,8838849,joseph95@example.org,web,google
1,2023-03-01T14:53:01,8741065,janetsuarez@example.net,web,yandex
2,2023-03-01T14:27:36,1866654,robert67@example.org,web,google
3,2023-03-01T02:42:34,1577584,elam@example.net,web,apple
4,2023-03-01T10:27:14,4765395,stephanie68@example.net,web,yandex

#### Привел дату к дейттайм и сделал дескрайб)

In [20]:
visits['date'] = pd.to_datetime(visits['date'])
regs['date'] = pd.to_datetime(regs['date'])

In [22]:
visits.describe()

                                date
count                           1000
mean   2023-03-02 18:25:04.564000256
min              2023-03-01 00:05:35
25%              2023-03-01 12:02:27
50%       2023-03-01 23:28:04.500000
75%    2023-03-03 21:42:13.249999872
max              2023-03-07 23:05:08

In [24]:
regs.describe()

                             date       user_id
count                        1000  1.000000e+03
mean   2023-03-03 10:59:03.900000  4.488623e+06
min           2023-03-01 00:12:22  2.236800e+04
25%    2023-03-02 14:08:57.500000  2.235489e+06
50%           2023-03-03 10:33:06  4.473044e+06
75%    2023-03-04 07:32:06.500000  6.779707e+06
max           2023-03-05 22:04:01  8.881772e+06
std                           NaN  2.620568e+06

## Шаг 2. Получаем данные из АПИ

In [36]:
visits_api = 'https://data-charts-api.hexlet.app/visits?begin=2023-03-01&end=2023-09-01'
visits_response = requests.get(visits_api)

if visits_response.status_code == 200:
    visits_data = visits_response.json()
    visits_df = pd.DataFrame(visits_data)
    print('success')
else:
    print(f'error code {visits_response.status_code}')

success

In [38]:
regs_api = 'https://data-charts-api.hexlet.app/registrations?begin=2023-03-01&end=2023-09-01'
regs_response = requests.get(regs_api)

if regs_response.status_code == 200:
    regs_data = regs_response.json()
    regs_df = pd.DataFrame(regs_data)
    print('success')
else:
    print(f'error code {regs_response.status_code}')

success

In [56]:
visits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263459 entries, 0 to 263458
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   datetime    263459 non-null  object
 1   platform    263459 non-null  object
 2   user_agent  263459 non-null  object
 3   visit_id    263459 non-null  object
dtypes: object(4)
memory usage: 8.0+ MB

In [67]:
visits_df.head()

,datetime,platform,user_agent,visit_id
0,"Wed, 01 Mar 2023 10:36:22 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1de9ea66-70d3-4a1f-8735-df5ef7697fb9
1,"Wed, 01 Mar 2023 06:25:00 GMT",web,Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...,f149f542-e935-4870-9734-6b4501eaf614
2,"Wed, 01 Mar 2023 10:26:13 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1
3,"Wed, 01 Mar 2023 12:33:06 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,19322fed-157c-49c6-b16e-2d5cabeb9592
4,"Wed, 01 Mar 2023 01:38:35 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,04762a22-3c9f-40c9-9ac9-6628c4381836

In [58]:
regs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21836 entries, 0 to 21835
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           21836 non-null  object
 1   email              21836 non-null  object
 2   platform           21836 non-null  object
 3   registration_type  21836 non-null  object
 4   user_id            21836 non-null  object
dtypes: object(5)
memory usage: 853.1+ KB

In [129]:
regs_df.head()

,datetime,email,platform,registration_type,user_id,date
0,"Wed, 01 Mar 2023 07:40:13 GMT",ebyrd@example.org,web,google,2e0f6bb8-b029-4f45-a786-2b53990d37f1,2023-03-01
1,"Wed, 01 Mar 2023 13:14:00 GMT",knightgerald@example.org,web,email,f007f97c-9d8b-48b5-af08-119bb8f6d9b6,2023-03-01
2,"Wed, 01 Mar 2023 03:05:50 GMT",cherylthompson@example.com,web,apple,24ff46ae-32b3-4a74-8f27-7cf0b8f32f15,2023-03-01
3,"Wed, 01 Mar 2023 00:04:47 GMT",halldavid@example.org,web,email,3e9914e1-5d73-4c23-b25d-b59a3aeb2b60,2023-03-01
4,"Wed, 01 Mar 2023 18:31:52 GMT",denise86@example.net,web,google,27f875fc-f8ce-4aeb-8722-0ecb283d0760,2023-03-01

### Выгрузка прошла успешно
Данные загрузились корректно

## Шаг 3. Рассчет метрик.

#### Приведем дату к формату дейттайм и добавим столбец с датой

In [83]:
regs_df['date'] = pd.to_datetime(regs_df['datetime']).dt.date
visits_df['date'] = pd.to_datetime(visits_df['datetime']).dt.date

### Фильруем от ботов

In [137]:
visits_df = visits_df[~visits_df['user_agent'].str.contains('bot', case=False, na=False)]
visits_df.head()

,datetime,platform,user_agent,visit_id,date
0,"Wed, 01 Mar 2023 10:36:22 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1de9ea66-70d3-4a1f-8735-df5ef7697fb9,2023-03-01
1,"Wed, 01 Mar 2023 06:25:00 GMT",web,Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...,f149f542-e935-4870-9734-6b4501eaf614,2023-03-01
2,"Wed, 01 Mar 2023 10:26:13 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,2023-03-01
3,"Wed, 01 Mar 2023 12:33:06 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,19322fed-157c-49c6-b16e-2d5cabeb9592,2023-03-01
4,"Wed, 01 Mar 2023 01:38:35 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,04762a22-3c9f-40c9-9ac9-6628c4381836,2023-03-01

### Группируем виситы и регистрации по дате и платформе. Визиты, считаем только уникальных пользователей за день

In [140]:
agg_visits = visits_df.groupby(['date', 'platform'])['visit_id'].nunique().reset_index()
agg_visits.columns = ['date_group', 'platform', 'visits']
agg_visits.head()

   date_group platform  visits
0  2023-03-01  android      75
1  2023-03-01      ios      22
2  2023-03-01      web     815
3  2023-03-02  android      67
4  2023-03-02      ios      31

In [133]:
agg_regs = regs_df.groupby(['date', 'platform'])['user_id'].nunique().reset_index()
agg_regs.columns = ['date_group', 'platform', 'registrations']
agg_regs.head()

   date_group platform  registrations
0  2023-03-01  android             61
1  2023-03-01      ios             18
2  2023-03-01      web              8
3  2023-03-02  android             59
4  2023-03-02      ios             24

In [144]:
agg_total = pd.merge(agg_visits,
                     agg_regs,
                     left_on = ['date_group', 'platform'],
                     right_on = ['date_group', 'platform'],
                     how = 'left')

In [148]:
agg_total.head()

   date_group platform  visits  registrations
0  2023-03-01  android      75             61
1  2023-03-01      ios      22             18
2  2023-03-01      web     815              8
3  2023-03-02  android      67             59
4  2023-03-02      ios      31             24

In [152]:
agg_total['conversion'] = round(agg_total['registrations'] / agg_total['visits'], 2)
agg_total.head()

   date_group platform  visits  registrations  conversion
0  2023-03-01  android      75             61        0.81
1  2023-03-01      ios      22             18        0.82
2  2023-03-01      web     815              8        0.01
3  2023-03-02  android      67             59        0.88
4  2023-03-02      ios      31             24        0.77