In [8]:
import pandas as pd
import requests

In [14]:
visits = pd.read_csv('visits_1k.csv')
visits.head()

,uuid,platform,user_agent,date
0,1de9ea66-70d3-4a1f-8735-df5ef7697fb9,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,2023-03-01T13:29:22
1,f149f542-e935-4870-9734-6b4501eaf614,web,Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) Apple...,2023-03-01T16:44:28
2,f149f542-e935-4870-9734-6b4501eaf614,web,Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) Apple...,2023-03-06T06:12:36
3,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-03-01T20:16:37
4,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-03-05T17:42:47

In [16]:
regs = pd.read_csv('regs_1k.csv')
regs.head()

,date,user_id,email,platform,registration_type
0,2023-03-01T00:25:39,8838849,joseph95@example.org,web,google
1,2023-03-01T14:53:01,8741065,janetsuarez@example.net,web,yandex
2,2023-03-01T14:27:36,1866654,robert67@example.org,web,google
3,2023-03-01T02:42:34,1577584,elam@example.net,web,apple
4,2023-03-01T10:27:14,4765395,stephanie68@example.net,web,yandex

In [20]:
visits['date'] = pd.to_datetime(visits['date'])
regs['date'] = pd.to_datetime(regs['date'])

In [22]:
visits.describe()

                                date
count                           1000
mean   2023-03-02 18:25:04.564000256
min              2023-03-01 00:05:35
25%              2023-03-01 12:02:27
50%       2023-03-01 23:28:04.500000
75%    2023-03-03 21:42:13.249999872
max              2023-03-07 23:05:08

In [24]:
regs.describe()

                             date       user_id
count                        1000  1.000000e+03
mean   2023-03-03 10:59:03.900000  4.488623e+06
min           2023-03-01 00:12:22  2.236800e+04
25%    2023-03-02 14:08:57.500000  2.235489e+06
50%           2023-03-03 10:33:06  4.473044e+06
75%    2023-03-04 07:32:06.500000  6.779707e+06
max           2023-03-05 22:04:01  8.881772e+06
std                           NaN  2.620568e+06

In [36]:
visits_api = 'https://data-charts-api.hexlet.app/visits?begin=2023-03-01&end=2023-09-01'
visits_response = requests.get(visits_api)

if visits_response.status_code == 200:
    visits_data = visits_response.json()
    visits_df = pd.DataFrame(visits_data)
    print('success')
else:
    print(f'error code {visits_response.status_code}')

success

In [38]:
regs_api = 'https://data-charts-api.hexlet.app/registrations?begin=2023-03-01&end=2023-09-01'
regs_response = requests.get(regs_api)

if regs_response.status_code == 200:
    regs_data = regs_response.json()
    regs_df = pd.DataFrame(regs_data)
    print('success')
else:
    print(f'error code {regs_response.status_code}')

success